[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest-cov = "*"
pytest-qt = "*"
pytest = "*"


[packages]

requests = "*"
pyqt-distutils = "*"
"ruamel.yaml" = "*"
dataset = "*"
