QWidget {
    background: #ffffff;
    border-color: #BDBDBD;
    color: #212121;
}

QWidget[accessibleName="header"] {
    background: #303F9F;
}

QPushButton {
    background: #448AFF;
    border-radius: 4px;
    border: 2px #212121;
    color: #ffffff;
}

QPushButton::pressed {
    background: #303F9F;
    color: #448AFF;
}

QLineEdit[accessibleName="selectedFileEdit"] {
    color: #757575;
}

QScrollArea {
    background: #ffffff;
}

QToolButton[accessibleName="settingsBtn"] {
    background: #303F9F;
}

QToolButton[accessibleName="aboutBtn"] {
    background: #303F9F;
}

QLabel[accessibleName="titleBar"] {
    background: #3F51B5;
}
